@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    /* Primary colors */
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);

    /* Accent */
    --blue: hsl(248, 32%, 49%);

    /* Neutral colors */
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
}

body {
    background-image: url('/images/bg-intro-mobile.png');
    background-color: var(--red);
    justify-content: center;
    align-items: center;
    min-width: 1vw;
    min-height: 1vh;
}

main.container {
    width: 375px;
    margin: 0 auto;
    padding: 2em;
}

main.container h1 {
    padding-top: 1.5em;
    display: block;
    color: white;
    font-weight: 600;
    text-align: center;
}

main.container p {
    color: #FFF;
    font-size: 16px;
    text-align: center;
    margin: 1em auto 2em auto;
}

:is(main.container, .half-right) > button {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    background: var(--blue);
    padding: 1em 5em;
    border-radius: 10px;
    font-weight: 400;
    box-shadow: 0 8px rgba(0, 0, 0, 0.123);
    outline: none;
}

:is(main.container, .half-right) button:hover {
    background: var(--dark-blue);
    transition: .3s;
    cursor: pointer;
}

.half-right button strong {
    font-weight: 600;
}

    /* 
    Forms
    */
form {    
    margin-top: 1.5em;
    border-radius: 10px;
    padding: 1em;
    background: #FFF;
    box-shadow: 0 8px rgba(0, 0, 0, 0.123);
}

.hide { /*Erros msg and exclamation img */
    display: none;
}
.form-control > small {
    color: var(--red);
    text-align: right;
}

.form-control {
    /* margin-bottom: .5em; */
    padding-bottom: 1em;
    position: relative;
}

.form-control img {
    position: absolute;
    top: 10px;
    right: 5px;
}

.msgError {
    color: var(--red);
}

form input {
    outline: none;
    width: 100%;
    padding: 1em;
    border: 0.5px solid var(--grayish-blue);
    border-radius: 5px;
    font-weight: 600;
}

form input:hover {
    border: 0.5px solid var(--dark-blue);
}

form input:focus {
    border: 1px solid var(--dark-blue);
}

main.container form button {
    display: block;
    width: 100%;
    color: white;
    background: var(--green);
    padding: 1.5em;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px hsl(154, 59%, 44%);
    outline: none;
    margin-bottom: 1em;
}

main.container form button:hover {
    background: hsla(154, 59%, 51%, 0.805);
    transition: .5s;
}

section form small {
    display: block;
    color: var(--grayish-blue);
    font-size: .6em;
    text-align: center;
    padding: 0 3.5em;
}

section form small a {
    text-decoration: none;
    cursor: pointer;
    color: var(--red);
    font-weight: 700;
}

section form small a:hover {
    text-shadow: 0 0 0.2px var(--red);
    transition: .5s;
}

    /* Footer */
footer {
    display: block;
}

@media (min-width: 900px) {
    body{
        align-items: center;
        justify-content: center;
        min-width: 100vw;
        min-height: 100vh;
    }
    
    main.container {
        /* margin: 10em auto 0;; */
        display: flex;
        flex-flow: column wrap;
        justify-self: center;
        align-self: center;
        width: 900px;
        height: 600px;
        padding: .5em;
        justify-content: center;
    }

    main.container form {
        padding: 1.5em;
    }

    .half-left {
        display: flex;
        position: relative;
        flex-direction: column;
        width: 50%;
        align-items: center;
        justify-content: center;
    }
    .half-right {
        display: flex;
        flex-direction: column;
        width: 50%;        
    }
    :is(main.container) h1 {
        text-align: left;
        padding: 1em 2em 0 0;
        font-weight: 600;
    }
    :is(main.container) p {
        text-align: left;
        font-size: .8em;               
    }

    form {
        height: auto;
    }


}